@model TestCorrection.ViewModels.UserVM
@using TestCorrection.Resources;

@Html.HiddenFor(model => model.Id, new { Id = "Id" })
<div class="form-group">
    <b>@Html.DisplayNameFor(model => model.Name):</b><br/>
    @if (String.IsNullOrEmpty(Model.Name)) {
        <span class='glyphicon glyphicon-minus'></span>
    }
        else
    {
        @Html.DisplayFor(model => model.Name);
    }
</div>

<div class="form-group">
    <b>@Html.DisplayNameFor(model => model.Email):</b><br/>
    @if (String.IsNullOrEmpty(Model.Email)) {
        <span class='glyphicon glyphicon-minus'></span>
    }
        else
    {
        @Html.DisplayFor(model => model.Email);
    }
</div>
<p>
    @Html.AntiForgeryToken()
    @Html.ActionLink(Resources.Edit, "Edit", new { id = Model.Id }, new { @class = "btn btn-default" })
</p>
<p>
    <a class="btn btn-danger" onclick="javascript: return ExcluirRegistro();">@Resources.Delete</a>
</p>