@model TestCorrection.ViewModels.UserVM
@using TestCorrection.Resources;
@using System
@using System.Web
@using System.Web.Optimization
@{
    ViewBag.Title = "Editar Usuário";
}

<h2>Editar Usuário</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    Html.RenderPartial("_ValidationSummary");
    <fieldset>
        <legend>@Resources.Form</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.CPF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CPF)
            @Html.ValidationMessageFor(model => model.CPF)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        
        <p>
            <br />
            <input type="submit" value="@Resources.Save" class="btn btn-primary" />
            &nbsp;@Html.ActionLink("Voltar para a lista", "Index", null, new { @class = "btn btn-default" })
        </p>
    </fieldset>
}
