@model TestCorrection.ViewModels.Login
@using TestCorrection.Resources;
@using System;
@using TestCorrection.Model;
@using TestCorrection.ViewModels;


@{
	ViewBag.Title = "Login";
	Layout = "~/Views/Shared/_Layout_login.cshtml";
}
<style>
	body
	{
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #eee;
	}

	.form-signin
	{
		max-width: 330px;
		padding: 15px;
		margin: 0 auto;
	}

		.form-signin .form-signin-heading,
		.form-signin .checkbox
		{
			margin-bottom: 10px;
		}

		.form-signin .checkbox
		{
			font-weight: normal;
		}

		.form-signin .form-control
		{
			position: relative;
			height: auto;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 10px;
			font-size: 16px;
		}

			.form-signin .form-control:focus
			{
				z-index: 2;
			}

		.form-signin input[type="email"]
		{
			margin-bottom: -1px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		.form-signin input[type="password"]
		{
			margin-bottom: 10px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}
</style>

<hr/>
@Html.ValidationSummary(true)
<br/>

@Html.ActionLink(Resources.Register, "Register", "Admin", null, new { @class = "" })

@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(false)

	<h4 class="form-signin-heading">@Resources.ShowYourCredential:</h4>
	@Html.LabelFor(m => m.CPF, new { @class = "control-label" })<text>:</text>
	@Html.TextBoxFor(m => m.CPF, new { @class = "form-control" })
	@Html.ValidationMessageFor(m => m.CPF)
	<br/>
	@Html.LabelFor(m => m.Password, new { @class = "control-label" })<text>:</text>
	@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
	@Html.ValidationMessageFor(m => m.Password)
	<br/>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
}