@model TestCorrection.ViewModels.QuestionVM

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Type)
    </dt>
    
    <dd>
        @Html.DisplayFor(model => model.Type)
    </dd>
    
    <dt>
        @Html.DisplayNameFor(model => model.Number)
    </dt>
    
    <dd>
        @Html.DisplayFor(model => model.Number)
    </dd>
    
    <dt>
        @Html.DisplayNameFor(model => model.Descripton)
    </dt>
    
    <dd>
        @Html.DisplayFor(model => model.Descripton)
    </dd>
    
</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar para a Lista", "Index")
</p>
